
#container {
    font-family:'Times New Roman', Times, serif;
    height: 10px;
    width: 400px;
    line-height: 1.5;
    font-size: 12px; 
    padding: 1px 400px 1px 400px;
    
}

.p1 {
    color: gray;
    font-size: 12px;
    margin-bottom: 0px;
}

span {
    float: right;
    color: gray;
}

.p2{
    font-size: 17px;
}

.p3 {
    font-style: italic;
    color: grey;  
}

ul {
    text-align: left;
}
